/* 遮罩层背景样式 */
.shade {
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.6);/*保证里面的内容不透明*/
	transition: background-color 0.8s ease; 
	/* opacity:0.7;
	filter:alpha(opacity=70); */
	z-index:99;	
	transition:transform 0.6s ease; 
}

/* 弹窗样式 */
.pop {
	width:25rem;
	height:15rem;
	border:1px solid green;
	background-color:white;
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%); /*使弹窗内容居中*/
	border-radius:1rem;
	z-index:100;
	transition: transform 0.6s ease;
	transition: background-color 0.8s ease; 
}

/*弹窗主体内容样式*/

.content {
	font-size:1.8em;
	top:30%;
	left:50%;
	transform:translate(-50%,-50%);
	position: absolute;

}

/* 按钮样式 */
.closeBtn, .sendBtn {
	position:absolute;
	bottom:2rem;
	border:1px solid green;
	text-align:center;
	color:black;
	padding:0.5rem 1.5rem;
	border-radius:5px;
	font-size:1.5em;
	cursor:pointer;
	z-index:101;
}

.sendBtn {
	margin-right:0.5rem;
	right:5rem;
}
.closeBtn {
	left:5rem;
}

